<%= render 'navigation2' %>
<br>
<div class="sign-in-form container">
  <div class="sign-in-brand"><a href="<%= root_path %>" class="logo">Idea Factory</a></div><br>
  <%= form_with model: @idea, local: true do |f|%>
  <% if @idea.errors.present?%>
  <p>
    <%= @idea.errors.full_messages.join(', ') %>
  </p>
  <% end %>
  <div class="sign-in-content">
    <h3><strong>Edit Idea</strong></h3>
    <strong><%= f.label :title, "Title"%></strong><br>
    <%= f.text_field :title, style:"width:100%;"%><br><br>
    <strong><%= f.label :description, "Description", cols:50, rows:3%></strong><br>
    <%= f.text_area :description, style:"width:100%;"%><br><br>
    <div>
      <%= f.submit "Edit Your Idea", style:"width:100%;", class:"sign-in-button"%><br>
      <p class="terms-of-use"><br>
        By creating a Idea, you agree to Idea Factory's<br>
        <strong style="color:#0000EE;">Conditions of Use</strong> and <strong style="color:#0000EE;">Privacy
        Notice</strong>.</p>
      <% end %>
    </div>
  </div>
</div>