<br>
<div class="sign-in-form container">
    <div class="sign-in-brand">
        <a href="<%= root_path %>" class="logo">Idea Factory</a>
    </div><br>
    <%= form_with model: @user, url: update_password_path(@user), local: true do |f|%>
    <div class="sign-in-content">
        <h3><strong>My Profile</strong></h3>
        <% if @user.errors.any?%>
        <p style="color:red;">
            <%= @user.errors.full_messages.join(', ') %>
        </p>
        <% end %>
        <p><%= flash[:notice] || flash[:alert] || flash[:success]%></p>

        <strong><%= f.label :current_password, "Current Password"%></strong>
        <%= f.password_field :current_password, style:"width:100%;"%>
        <strong><%= f.label :new_password, "New Password"%></strong>
        <%= f.password_field :new_password, style:"width:100%;"%>
        <strong><%= f.label :new_password_confirmation, "New Password again" %></strong><br>
        <%= f.password_field :new_password_confirmation, style:"width:100%;"%>
        <div><br>
            <%= f.submit "Change Password", style:"width:100%;", class:"sign-in-button"%><br>
            <% end %>
        </div>
    </div>
</div>